# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log